# Prerequisites
**/.d
**/.DS_Store

# Compiled Object files
**/.slo
**/.lo
**/.o
**/.obj

# Compiled Dynamic libraries
**/.so
**/.dylib
**/.dll

# Compiled Static libraries
**/.lai
**/.la
**/.a
**/.lib

# Executables
**/.exe
**/.out
**/.app
**/.sh
**/.zsh

# IDEs
**/.vscode
**/.dSYM
**/.idea
**/cmake-build-*
**/build

# Generated build artifacts
compile_commands.json

# Claude
**/.claude
**/.obsidian
